{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "16.12"
    }
  },
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ]
  },
  "overrides": [
    {
      "files": ["webpack.config.js"],
      "rules": {
        "global-require": "off"
      }
    }
  ]
}